<!DOCTYPE html>

<html>
{{>publicHead}}

<head>
    <title>صفحه یافت نشد</title>
</head>

<body>
    {{>header}}
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">404</h1>
    <br>
    <br>
    <br>
    <br>
    {{>footer}}
</body>

</html>