<!DOCTYPE html>
<html lang="en">

{{>publicHead}}

<head>
    <title>درباره ما</title>
</head>


<body>
    <!--===================== header =====================-->
    {{>header}}

    <section class="top-banner">
        <div class="leaf" id="leaf1"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf2"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf3"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf4"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf5"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf6"><img src="/image/leaf.png" alt=""></div>
        <div class="title">درباره ما</div>
        <div class="subtitle">چکیده ای از اطلاعات , چشم انداز‌ها , و اطلاعات منابع انسانی ما</div>
    </section>
    <section class="about">
        <div class="main">
            <div class="title-section">
                <img src="/image/right-arrow.png" alt="">
                <span class="title">درباره ابر‌گرافیک</span>
            </div>
            <p>
                هم‌زمان با تکامل فناوری‌هایی مانند اینترنت اشیا (IoT)، هوش مصنوعی (AI) و تصویربرداری 3بعدی، مقدار
                داده‌هایی که سازمان‌ها
                باید با آن‌ها کار کنند بسیار رشد کرده‌است. برای بسیاری از اهداف، از جمله پخش مستقیم یک رویداد ورزشی،
                ردیابی طوفان در حال
                توسعه، آزمایش محصولات جدید یا تجزیه و تحلیل روند سهام، توانایی پردازش داده‌ها در لحظه بسیار مهم شده‌است.
            </p>
            <p>
                برای پیش بودن یک گام جلوتر در رقابت، سازمان‌ها برای پردازش، ذخیره و تجزیه و تحلیل مقادیر عظیم داده‌ها به
                زیرساخت فناوری
                اطلاعات (IT) بسیار سریع و قابل اعتماد نیاز دارند.
            </p>
            <p>
                سرورهای نسل جدید که مبتنی بر واحد پردازش گرافیکی (GPU) میباشند و توانمندی پردازش‌های موازی را دارند قادر
                به حل این مسئله
                خواهند بود. همچنین ایجاد و بهره‌برداری بهینه از زیر ساخت سرور مبتنی بر GPU برای سازمان‌ها و شرکت‌ها کاری
                پیچیده است، پس
                می‌توان با استفاده از زیرساخت ابریGPU راهکاری بهینه هم از لحاظ مالی و هم توان پردازشی ارائه کرد.
            </p>
            <p>
                استار‌ت آپ ابر گرافیک با بومی‌سازی و ارتقا ابر رایانه‌ها، مدلی کارآمد و بهینه تولید کرده‌است و از این
                طریق به نیازهای
                محاسباتی که نیازمند توان پردازشی بالایی میباشند، پاسخ داده‌است.
            </p>
            <p>
                این مدل نسبت به ساختارهای کنونی که در حال حاضر مورد استفاده قرار می‌گیرند مزایای قابل توجهی دارد. چندین
                هزار برابر بودن
                توان پردازشی با مصرف انرژی کمتر یکی از مزایای این استارت آپ میباشد.
                به‌طور خلاصه این پلتفرم در زمینه‌های مهندسی، هواشناسی، آزمایشگاه‌های تحقیقاتی، رباتیک، پزشکی و ... مورد
                استفاده قرار
                می‌گیرد.
            </p>
            <div class="banner"><img src="/image/futurePrespective.jpg" alt=""></div>
            <div class="title-section">
                <img src="/image/right-arrow.png" alt="">
                <span class="title">چشم انداز‌های ابر‌گرافیک</span>
            </div>
            <p>
                چشم انداز ابر گرافیک تبدیل شدن به یکی از 3 شرکت برتر کشور در زمینه ارائه سرویسهای رایانش ابری مبتنی
                بر پردازنده های گرافیکی، توانایی برطرف کردن تمام نیازهای مشتریان در حوزه رایانش ابری و نماینده کشور برای
                ورود به بازار جهانی است.
            </p>
        </div>
    </section>
    <section class="our-team">
        <header class="myheader">
            <img src="/image/right-arrow.png" alt="">
            <span class="title">تیم ابر‌گرافیک</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">ما رو بهتر بشناسید و با همکاران ما اشنا شوید</div>
        </header>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="/image/emp4.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp1.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp2.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp3.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp4.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp5.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp1.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
            <div class="item">
                <img src="/image/emp3.jpg" alt="Card image" style="">
                <div class="title">نام و نام خانوادگی</div>
                <div class="subtitle">سمت در ابر‌گرافیک</div>
            </div>
        </div>
    </section>
    <section class="map">
        <header class="myheader">
            <img src="/image/right-arrow.png" alt="">
            <span class="title">ما کجا هستیم ؟</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">مشهد - احمد اباد - ابونصر ۲ - ساختمان چاری - طبقه همکف - واحد ۲ </div>
        </header>
        <iframe src="https://maps.google.com/maps?q=MASHHAD%20abunasr&t=&z=15&ie=UTF8&iwloc=&output=embed" width="100%"
            height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </section>

    {{>footer}}
    {{>toastRepository}}
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            if ($(window).width() < 768) {
                owl.owlCarousel({
                    stagePadding: 20,
                    margin: 10,
                    nav: false,
                    loop: true,
                    responsive: {
                        0: {
                            items: 3
                        }
                    }
                })
            }
            else {
                owl.owlCarousel({
                    stagePadding: 140,
                    margin: 85,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 3
                        },
                        1600: {
                            items: 5

                        },
                        1920: {
                            items: 5

                        }
                    }
                })
            }

        })

    </script>
</body>

</html>