<!DOCTYPE html>
<html lang="en">

{{>publicHead}}

<head>
    <title>ุฎุงูู</title>
    <script type="module" src="js/page/home.js"></script>
</head>

<body>

    <!--===================== header =====================-->
    {{>header}}
    <!--===================== /header =====================-->

    <section class="home-banner">
        <div class="leaf" id="leaf1"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf2"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf4"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf5"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf6"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf7"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf8"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf9"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf10"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf11"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf12"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf13"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf14"><img src="/image/leaf.png" alt=""></div>
        <div class="leaf" id="leaf15"><img src="/image/leaf.png" alt=""></div>
        <div class="title"> ุฑุงุงูุด ุณุฑุน ุจุง ุจูุฑูโฺฏุฑ ุงุฒ GPU </div>
        <div class="subtitle">ุจุฏูู ูุงุฒ ุจู ุฎุฑุฏ ุณุฎุชโุงูุฒุงุฑโูุง ฺฏุฑุงู ููุช ุชูุงู ูพุฑุฏุงุฒุดโูุง ุณูฺฏู ุฎูุฏ ุฑุง ุฏุฑ ุณุฑุนโุชุฑู ุฒูุงู
            ููฺฉู ุงูุฌุงู ุฏูุฏ.
        </div>
        <a class="banner-btn" href="/login">ุฑุงฺฏุงู ุงูุชุญุงู ฺฉูุฏ !</a>
        <div style="position: absolute; bottom: 0px; right: 50%;"><img style="margin-right: -121px;"
                src="/image/banner-bottom.png" alt=""></div>
    </section>
    <section class="services">
        <header>
            <img src="/image/right-arrow.png" alt="">
            <span class="title">ุงุจุฑโฺฏุฑุงูฺฉ ุจุฑุง ฺู ูพุฑุฏุงุฒุดโูุง ููุงุณุจ ูุณุช ุ</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">ูุงุฒ ุจู ฺฉ ูพุฑุฏุงุฒุด ู ุง ุฑูุฏุฑ ุณุฑุน ุฏุงุฑุฏุ</div>
        </header>
        <div class="row">
            <div class="process col-6 col-xl-3">
                <img src="/image/prc4.png" alt="">
                <div class="title">ุงุฏฺฏุฑ ูุงุดู ู ุดุจฺฉู ุนุตุจ</div>
                <div class="subtitle">machine learning</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc3.png" alt="">
                <div class="title">ุจุฑูุงููโููุณ ู ูุถุง ฺฉุงุฑ ฺฏุฑูู</div>
                <div class="subtitle">Programing Workspace</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc2.png" alt="">
                <div class="title">ุฑูุฏุฑ ูุฏุฆู ู ุงููุดู</div>
                <div class="subtitle">Video Rendering</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc1.png" alt="">
                <div class="title">ูพุฑุฏุงุฒุดโูุง ููุด ูุตููุน</div>
                <div class="subtitle">Artificial Intelligence</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc8.png" alt="">
                <div class="title">ูพุฑุฏุงุฒุดโูุง ุงุฒูุงุดฺฏุงู</div>
                <div class="subtitle">Laboratory processing</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc7.png" alt="">
                <div class="title">ูุญุงุณุจุงุช ุณูฺฏู</div>
                <div class="subtitle">Heavy calculations</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc6.png" alt="">
                <div class="title"> ูพุฑุฏุงุฒุดโูุง ุจุงุฒ ุณุงุฒ</div>
                <div class="subtitle">Game Development</div>
            </div>
            <div class="process col-6 col-xl-3">
                <img src="/image/prc5.png" alt="">
                <div class="title">ูพุฑุฏุงุฒุดโูุง ุฑุจุงุชฺฉ</div>
                <div class="subtitle">Robotic</div>
            </div>
        </div>
        <footer class="row">
            <div class="my-auto col-12 col-xl-7">
                <div class="title">ูููุฒ ูุทูุฆู ูุณุชุฏ</div>
                <div class="subtitle">ุงุจุฑโฺฏุฑุงูฺฉ ุจุฑุง ุดูุง ููุงุณุจ ูุณุช ุง ุฎุฑ</div>
            </div>
            <div class="my-auto link col-12 col-xl-5 d-flex justify-content-center">
                <a href="/contact_us" class="text-center mx-auto bg-opacity-green">ุฏุฑุฎูุงุณุช ูุดุงูุฑู ุฑุงฺฏุงู<i
                        class="fa fa-arrow-left"></i></a>
            </div>
        </footer>
    </section>
    <section class="software">
        <div id="banner-up"><img src="/image/banner-up.png" alt=""></div>
        <header>
            <img src="/image/right-arrow.png" alt="">
            <span class="title">ุจุฏูู ูุญุฏูุฏุช ุงุณุชูุงุฏู ุงุฒ ุงุจุฒุงุฑโูุง ฺฏููุงฺฏูู</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">ุจุนุถ ุงุฒ ุงุจุฒุงุฑโูุง ูพุฑฺฉุงุฑุจุฑุฏ ฺฉู ูุง ุฏุฑ ุณุฑุนโุชุฑู ุฒูุงู ููฺฉู ูพุฑุฏุงุฒุดโูุง ุงููุง ุฑุง ุงูุฌุงู
                ูุฏูู </div>
        </header>
        <footer class="row">
            <div class="col-12 col-xl-7">
                <div class="title">ุงุฒ ุงุจุฒุงุฑ ุฏฺฏุฑ ุงุณุชูุงุฏู ูฺฉูุฏ</div>
                <div class="subtitle">ูุทูุฆู ูุณุชุฏ ูุง ุขู ุงุจุฒุงุฑ ุฑุง ูพุดุชุจุงู ูฺฉููุ</div>
            </div>
            <div class="link col-12 col-xl-5 d-flex justify-content-center align-content-center">
                <a href="/contact_us">ุฏุฑุฎูุงุณุช ูุดุงูุฑู ุฑุงฺฏุงู<i class="fa fa-arrow-left"></i></a>
            </div>
        </footer>
    </section>
    <section class="greenservices d-none d-md-block" id="intro-services">
        <header>
            <div class="title p-0"><img src="/image/services.svg" alt="ุณุฑูุณโูุง ุงุจุฑโฺฏุฑุงูฺฉ"></div>
            <div class="subtitle">ุณุฑูุณโูุง ูุง ุจุง ุจูุฑูโฺฏุฑ ุงุฒ ุจุฒุฑฺฏุชุฑู ุชูุงู ูพุฑุฏุงุฒุด ุดุฑู ฺฉุดูุฑ ูููุงุฑู ุขูุงุฏู ุฎุฏูุงุช ุฑุณุงู
                ุจู ุดูุง ูุณุชูุฏ
            </div>
        </header>
        <div class="d-flex flex-md-column-reverse flex-lg-row justify-content-between">
            <div class="flex-desktop col-12 w-45 mx-auto">
                <img class="srv-logo" src="/image/desktop.png" alt="">
                <div class="title">ุณุฑูุณ ุฏุณฺฉุชุงูพ ุณุจุฒ</div>
                <div class="subtitle">Green Desktop</div>
                <p>
                    ุจุง ุงุณุชูุงุฏู ุงุฒ ุฒุฑุณุงุฎุช ุฏุณฺฉุชุงูพ ูุฌุงุฒ (VDI) ุณุงุฒูุงู ูุง ู ุชูุงููุฏ ุจู ฺฉุงุฑุจุฑุงู ุงู ุงูฺฉุงู ุฑุง ุจุฏููุฏ ฺฉู ุงุฒ ูุฑ
                    ุฌุง ู ุจุง ูุฑ ุฏุณุชฺฏุงู
                    ุจู ูุธุงู ุฎูุฏ ุนูู ฺฉุฑุฏู ู ูุงุฒ ุณุงุฒูุงู ุฑุง ุจุฑุทุฑู ููุงูุฏ ู ูุญุท ฺฉุงุฑ ุฎูุฏ ุฑุง ุจู ูุญุท ฺฉุงุฑ ูุฏุฑุชููุฏ ุชุจุฏู
                    ฺฉููุฏ. ุจุง ฺฏุฑู ุฏุณฺฉุชุงูพ
                    ุงุฒ ูุฑ ูุฑู ุงูุฒุงุฑ ฺฉู ุงุญุชุงุฌ ุฏุงุฑุฏ ุจุฏูู ุฏุฑ ูุธุฑ ฺฏุฑูุชู ุณุฎุช ุงูุฒุงุฑุ ุงุณุชูุงุฏู ฺฉูุฏ ุจุฑุง ูุซุงู ุงู ุณุฑูุณ
                    ฺฉุงุฑูุง ฺฏุฑุงูฺฉุ ุจุงุฒ ุณุงุฒ
                    ู ุงููุดู ุณุงุฒ ุดูุง ุฑุง ุจู ุดุฏุช ุณุฑุนุช ูโุจุฎุดุฏ. ุงุณุชูุงุฏู ุงุฒ ุงู ุณุฑูุณ ุจุง ุชูุงู ูพุฑุฏุงุฒุด ุฏูุฎูุงู ุ ุงู ุงูฺฉุงู
                    ุฑุง ูุฑุงูู ูฺฉูุฏ ุชุง
                    ุฏุฑฺฏุฑ ูุณุงุฆู ูพฺุฏูุ ููุช ฺฏุฑ ู ฺฏุฑุงู ูุดูุฏ ู ุฑู ฺฉุงุฑูุง ููู ุชุฑ ุชูุฑฺฉุฒ ฺฉูุฏ!
                </p>
                <div class="buttons">
                    <a href="/login">ุฑุงฺฏุงู ุงูุชุญุงู ฺฉูุฏ !</a>
                    <a href="/login">ุจุดุชุฑ ุจุฏุงูุฏ โฆ</a>
                </div>

            </div>
            <div class="flex-machine col-12 w-45 mx-auto">
                <img class="srv-logo" src="/image/machine.png" alt="">
                <div class="title">ุณุฑูุณ ูุงุดู ุณุจุฒ</div>
                <div class="subtitle">Green Machine</div>
                <p>ุงู ุณุฑูุณ ุจุฑุง โุจุฑูุงููโููุณ ุจู ุฎุตูุต ุงูฺฏูุฑุชูโูุง ููุด ูุตููุน ู big dataุ ุฏุงุฏู ฺฉุงู ู ุดุจฺฉูโูุง ุนุตุจ ูโฆ
                    ููุงุณุจ ุงุณุช ู ุจู ุดูุง jupyter notebook ุฑุง ุงุฑุงุฆู ูุฏูุฏ ูุญุท ุณุงุฏู ู ุขุณุงู ุจุฑุง ูพุฑุฏุงุฒุดโูุง ุณูฺฏู ุดูุงุ
                    ุจุฑุง ุงุณุชูุงุฏู ุงุฒ ุงู ุณุฑูุณุ ุงูู ุชูุงู ูพุฑุฏุงุฒุด ุฎูุฏ ู ููุงุจุน ฺฉู ูุงุฒ ุฏุงุฑุฏ ุฑุง ุงูุชุฎุงุจ ูฺฉูุฏ ู ุจุง ุงุณุชูุงุฏู
                    jupyter notebook ุงุฑุงุฆู ุดุฏู ุจู ุฑุงุญุช ูุชูุงูุฏ ูุญุงุณุจุงุช ุณูฺฏู ุฑุง ุจุง ุจูุฑูโฺฏุฑ ุงุฒ ุจุงูุงโุชุฑู ุชูุงู ูพุฑุฏุงุฒุด
                    ุดุฑู ฺฉุดูุฑ ู ุจุฏูู ูุงุฒ ุจู ุฎุฑุฏุงุฑ ุณุฎุช ุงูุฒุงุฑ ุณุฑุนุช ุจุจุฎุดุฏ.
                </p>
                <div class="buttons">
                    <a href="/login">ุฑุงฺฏุงู ุงูุชุญุงู ฺฉูุฏ !</a>
                    <a href="/login">ุจุดุชุฑ ุจุฏุงูุฏ โฆ</a>
                </div>
            </div>
        </div>
    </section>
    <section class="greenservices d-md-none">
        <header>
            <div class="title"><img src="/image/services.svg" alt="ุณุฑูุณโูุง ุงุจุฑโฺฏุฑุงูฺฉ"></div>
            <div class="subtitle">ุณุฑูุณโูุง ูุง ุจุง ุจูุฑูโฺฏุฑ ุงุฒ ุจุฒุฑฺฏุชุฑู ุชูุงู ูพุฑุฏุงุฒุด ุดุฑู ฺฉุดูุฑ ูููุงุฑู ุขูุงุฏู ุฎุฏูุงุช ุฑุณุงู
                ุจู ุดูุง ูุณุชูุฏ
            </div>
        </header>
        <div class="desktop">
            <img class="srv-logo" src="/image/desktop.png" alt="">
            <div class="title">ุณุฑูุณ ุฏุณฺฉุชุงูพ ุณุจุฒ</div>
            <div class="subtitle">Green Desktop</div>
            <p>
                ุจุง ุงุณุชูุงุฏู ุงุฒ ุฒุฑุณุงุฎุช ุฏุณฺฉุชุงูพ ูุฌุงุฒ (VDI) ุณุงุฒูุงู ูุง ู ุชูุงููุฏ ุจู ฺฉุงุฑุจุฑุงู ุงู ุงูฺฉุงู ุฑุง ุจุฏููุฏ ฺฉู ุงุฒ ูุฑ ุฌุง ู
                ุจุง ูุฑ ุฏุณุชฺฏุงู
                ุจู ูุธุงู ุฎูุฏ ุนูู ฺฉุฑุฏู ู ูุงุฒ ุณุงุฒูุงู ุฑุง ุจุฑุทุฑู ููุงูุฏ ู ูุญุท ฺฉุงุฑ ุฎูุฏ ุฑุง ุจู ูุญุท ฺฉุงุฑ ูุฏุฑุชููุฏ ุชุจุฏู ฺฉููุฏ.
                ุจุง ฺฏุฑู ุฏุณฺฉุชุงูพ
                ุงุฒ ูุฑ ูุฑู ุงูุฒุงุฑ ฺฉู ุงุญุชุงุฌ ุฏุงุฑุฏ ุจุฏูู ุฏุฑ ูุธุฑ ฺฏุฑูุชู ุณุฎุช ุงูุฒุงุฑุ ุงุณุชูุงุฏู ฺฉูุฏ ุจุฑุง ูุซุงู ุงู ุณุฑูุณ ฺฉุงุฑูุง
                ฺฏุฑุงูฺฉุ ุจุงุฒ ุณุงุฒ
                ู ุงููุดู ุณุงุฒ ุดูุง ุฑุง ุจู ุดุฏุช ุณุฑุนุช ูโุจุฎุดุฏ. ุงุณุชูุงุฏู ุงุฒ ุงู ุณุฑูุณ ุจุง ุชูุงู ูพุฑุฏุงุฒุด ุฏูุฎูุงู ุ ุงู ุงูฺฉุงู ุฑุง
                ูุฑุงูู ูฺฉูุฏ ุชุง
                ุฏุฑฺฏุฑ ูุณุงุฆู ูพฺุฏูุ ููุช ฺฏุฑ ู ฺฏุฑุงู ูุดูุฏ ู ุฑู ฺฉุงุฑูุง ููู ุชุฑ ุชูุฑฺฉุฒ ฺฉูุฏ!
            </p>
            <div class="buttons">
                <a href="/login">ุฑุงฺฏุงู ุงูุชุญุงู ฺฉูุฏ !</a>
                <a href="/login">ุจุดุชุฑ ุจุฏุงูุฏ โฆ</a>
            </div>
            <div class="machine">
                <img class="srv-logo" src="/image/machine.png" alt="">
                <div class="title">ุณุฑูุณ ูุงุดู ุณุจุฒ</div>
                <div class="subtitle">Green Machine</div>
                <p>ุงู ุณุฑูุณ ุจุฑุง โุจุฑูุงููโููุณ ุจู ุฎุตูุต ุงูฺฏูุฑุชูโูุง ููุด ูุตููุน ู big dataุ ุฏุงุฏู ฺฉุงู ู ุดุจฺฉูโูุง ุนุตุจ ูโฆ
                    ููุงุณุจ ุงุณุช ู ุจู ุดูุง jupyter notebook ุฑุง ุงุฑุงุฆู ูุฏูุฏ ูุญุท ุณุงุฏู ู ุขุณุงู ุจุฑุง ูพุฑุฏุงุฒุดโูุง ุณูฺฏู ุดูุงุ
                    ุจุฑุง ุงุณุชูุงุฏู ุงุฒ ุงู ุณุฑูุณุ ุงูู ุชูุงู ูพุฑุฏุงุฒุด ุฎูุฏ ู ููุงุจุน ฺฉู ูุงุฒ ุฏุงุฑุฏ ุฑุง ุงูุชุฎุงุจ ูฺฉูุฏ ู ุจุง ุงุณุชูุงุฏู
                    jupyter notebook ุงุฑุงุฆู ุดุฏู ุจู ุฑุงุญุช ูุชูุงูุฏ ูุญุงุณุจุงุช ุณูฺฏู ุฑุง ุจุง ุจูุฑูโฺฏุฑ ุงุฒ ุจุงูุงโุชุฑู ุชูุงู ูพุฑุฏุงุฒุด
                    ุดุฑู ฺฉุดูุฑ ู ุจุฏูู ูุงุฒ ุจู ุฎุฑุฏุงุฑ ุณุฎุช ุงูุฒุงุฑ ุณุฑุนุช ุจุจุฎุดุฏ.
                </p>
                <div class="buttons">
                    <a href="/login">ุฑุงฺฏุงู ุงูุชุญุงู ฺฉูุฏ !</a>
                    <a href="/login">ุจุดุชุฑ ุจุฏุงูุฏ โฆ</a>
                </div>
            </div>
        </div>
    </section>
    <section class="faq">
        <header>
            <img src="/image/right-arrow.png" alt="">
            <span class="title">ูพุฑุณุดโูุง ูุชุฏุงูู</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">ุณูุงูุงุช ฺฉู ูุดุชุฑุงู ูุง ูุนูููุง ุงุฒ ูุง ููพุฑุณูุฏ</div>
        </header>
        <div class="accordion" id="accordion-faq">
        </div>
        <footer class="row">
            <div onclick="showMore(event)"
                class="more-link col-12 col-lg-3 p-0 mx-auto h-100 py-lg-2 pt-2 hover-pointer" style="z-index: 1;"
                id="show-more">
                <p class="m-auto w-100 h-100 show-more p-0 m-0">ููุงุด ุจุดุชุฑ</p>
                <i class="fa fa-chevron-down m-auto p-0 m-0"></i>
            </div>
            <div class="row col-12 col-lg-8 mx-auto" id="dont-res" style="z-index: 1;">
                <div class="col-12 col-lg-7">
                    <div class="title">ูพุงุณุฎ ุฎูุฏ ุฑุง ุงูุช ูฺฉุฑุฏุฏุ</div>
                    <div class="subtitle">ุฏุฑุจุงุฑู ุดูู ุฎุฏูุงุช ุงุจุฑโฺฏุฑุงูฺฉ ุณูุงู ุฏุงุฑุฏุ</div>
                </div>
                <div class="link col-12 col-lg-5">
                    <a href="/contact_us" class="bg-opacity-green">ุชูุงุณ ุจุง ูุง</a>
                </div>
            </div>
        </footer>
    </section>
    <section class="company">
        <header>
            <img src="/image/right-arrow.png" alt="">
            <span class="title">ุจุนุถ ุงุฒ ูุดุชุฑุงู ูุง</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">ฺฉุณุจ ู ฺฉุงุฑโูุง ู ุดุฑฺฉุชโูุง ููุดููุฏ ฺฉู ุจู ุงุจุฑโฺฏุฑุงูฺฉ ุงุนุชูุงุฏ ฺฉุฑุฏูุฏ</div>
        </header>
        <div class="row items">
            <div class="p-2 flex-fill m-auto col-4">
                <img src="/image/comp2.png" alt="">
                <p>ูุฑฺฉุฒ ฺฏุณุชุฑุด ููุงูุฑ ุงุทูุงุนุงุช ูฺฏูุง</p>
            </div>
            <div class="p-2 flex-fill m-auto col-4">
                <img src="/image/comp3.png" alt="">
                <p>ุขุณุชุงู ูุฏุณ ุฑุถู</p>
            </div>
            <div class="p-2 flex-fill m-auto col-4">
                <img src="/image/aitrader.png" alt="">
                <p>ุง ุข ุชุฑุฏุฑ</p>
            </div>
        </div>
    </section>
    <div class="brLine"></div>
    <section class="customers">
        <header>
            <img src="/image/right-arrow.png" alt="">
            <span class="title">ุชุฌุฑุจู ุงุณุชูุงุฏู ฺฉุงุฑุจุฑุงู ูุง</span>
            <img src="/image/left-arrow.png" alt="">
            <div class="subtitle">ฺฉุงุฑุจุฑุงู ุงุจุฑโฺฏุฑุงูฺฉ ุฏุฑ ุฏุฑุจุงุฑู ุชุฌุฑุจู ุงุณุชูุงุฏู ุงุฒ ุณุฑูุณโูุง ูุง ฺ ูฺฏู ุ</div>
        </header>
        <div class="owl-carousel owl-theme">

            <div class="card item">
                <div class="customer-img"><img src="/image/profile.jpg" alt="Card image" style=""></div>
                <div class="card-body">
                    <h4 class="card-title">ุงุณุชุงุฏ ุญุณู ูุทูุจ</h4>
                    <p class="card-text" style="direction: rtl;">
                        ุงุฒ ุณุฑูุณ ูุงุดู ุณุจุฒ ุงุจุฑโฺฏุฑุงูฺฉ ุงุณุชูุงุฏู ฺฉุฑุฏูโุงู ู ุชุง ฺฉููู ุชุฌุฑุจู ุดฺฏูุชโุงูฺฏุฒ ุจูุฏู. ... ุญุณ ู ฺฉูู
                        ุงุฒ ฺฉ ูุงุดู ููฺฉุงู ูุงูุน ุงุณุชูุงุฏู ู ฺฉูู๐
                    </p>
                </div>
            </div>
            <div class="card item">
                <div class="customer-img"><img src="/image/profile.jpg" alt="Card image" style=""></div>
                <div class="card-body">
                    <h4 class="card-title"> ุฏฺฉุชุฑ ููุฏู ูุฌุฏ ูุฑ</h4>
                    <p class="card-text">ูู ุงฺฉููู ุงุฒ ุณุฑูุณ ุฏุณฺฉุชุงูพ ุณุจุฒ ุงุจุฑโฺฏุฑุงูฺฉ ุงุณุชูุงุฏู ฺฉุฑุฏู... ุงุณุชูุงุฏู ุงุฒ ุขู
                        ุจุณุงุฑ ุขุณุงู ู ูุฐุช
                        ุจุฎุด ุจูุฏ
                    </p>
                </div>
            </div>
            <div class="card item">
                <div class="customer-img"><img src="/image/profile.jpg" alt="Card image" style=""></div>
                <div class="card-body">
                    <h4 class="card-title">ูููุฏุณ ุนูุฑุถุง ููุณู ุทุจ</h4>
                    <p class="card-text">ุงูฺฉุงูุงุช ุงููุช ุนุงู ุชุฏุจุฑ ุดุฏู๐ ุจุณุงุฑ ุนุงู</p>
                </div>
            </div>
        </div>

    </section>

    {{>footer}}
    {{>toastRepository}}
    <script>
        let url = window.location.hash
        if (url) document.getElementById("intro-services").scrollIntoView();

        function showMore(e) {
            document.getElementById('accordion-faq').style = "-webkit-mask-image:none"
            document.getElementById('show-more').style = "disply: none"
            document.getElementById('show-more').style.display = "none"
            document.getElementById('dont-res').style = "margin-top: 50px"
        }
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            if ($(window).width() < 768) {
                owl.owlCarousel({
                    margin: 10,
                    nav: false,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        }
                    }
                })
            }
            else {
                owl.owlCarousel({
                    stagePadding: 240,
                    margin: 40,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        1600: {
                            items: 2

                        },
                        1920: {
                            items: 2

                        }
                    }
                })
            }

        })
    </script>
</body>

</html>