<!DOCTYPE html>
<html lang="en">

{{>publicHead}}

<head>
    <title>همکاری با ما</title>
    <script type="module" src="js/page/partnerShip.js"></script>
</head>

<body>
    <!--===================== header =====================-->
    <div class="supreme-container">
        {{>header}}
        <section class="top-banner">
            <div class="leaf" id="leaf1"><img src="/image/leaf.png" alt=""></div>
            <div class="leaf" id="leaf2"><img src="/image/leaf.png" alt=""></div>
            <div class="leaf" id="leaf3"><img src="/image/leaf.png" alt=""></div>
            <div class="leaf" id="leaf4"><img src="/image/leaf.png" alt=""></div>
            <div class="leaf" id="leaf5"><img src="/image/leaf.png" alt=""></div>
            <div class="leaf" id="leaf6"><img src="/image/leaf.png" alt=""></div>
            <div class="title">با ابر‌گرافیک رشد کنید!</div>
            <div class="subtitle">ما یک تیم خلاقیم که ایده‌های بزرگی داریم و برای محقق شدن این ایده‌ها تلاش می کنیم
            </div>
            <div class="subtitle">اگر خودت رو یک فرد مسئولیت پذیر و خلاق میدونی در حوزه کاری خودت درخواست بده</div>
        </section>
        <section class="partnership">
            <div class="main">
                <div class="title-section">
                    <img src="/image/right-arrow.png" alt="">
                    <span class="title">برنامه نویس اندروید</span>
                </div>
                <p class="d-none d-md-block">برنامه نویس اندروید هستید ؟ اگر دوست دارید توسعه دهنده اپلیکیشن اندروید تیم
                    ما باشید جاهای خالی رو پر کنید </p>
                <p class="d-md-none">برنامه نویس اندروید هستید ؟ اگر دوست دارید توسعه دهنده اپلیکیشن اندروید تیم ما
                    باشید رزومه خودت رو ارسال کن </p>
                <div class="android">
                    <form action="#" class="d-flex">
                        <div class="code d-none d-md-block">
                            <div>
                                <span style="color:#ec649c;">package</span>
                                <span class="growing-input input1">
                                    <input type="text" class="code-input" value="" placeholder="—----" size="4" />
                                    <span class="dummy dummy1"></span>
                                </span>
                                <span style="color:#fff;">.</span>
                                <span style="color:#48bfee;">kotlinlang</span>
                                <span style="color:#fff;">.</span>
                                <span class="growing-input input2">
                                    <input type="text" class="code-input" value="" placeholder="------" size="4" />
                                    <span class="dummy dummy2"></span>
                                </span>
                            </div>
                            <div>
                                <span class="growing-input input3">
                                    <input type="text" class="code-input" value="" placeholder="------" size="4" />
                                    <span class="dummy dummy3"></span>
                                </span>
                                <span style="color:#e4c48c;">main</span>
                                <span style="color:#fff;">(</span>
                                <span style="color:#48bfee;">args</span>
                                <span style="color:#fff;">: </span>
                                <span style="color:#03c327;">Array</span>
                                <span style="color:#fff;"></span>
                                <span style="color:#03c327;">String</span>
                                <span style="color:#fff;">>) {</span>
                            </div>
                            <div>
                                <span class="growing-input input4">
                                    <input type="text" class="code-input" value="" placeholder="—----" size="4" />
                                    <span class="dummy dummy4"></span>
                                </span>
                                <span style="color:#fff;">(</span>
                                <span style="color:#e36837;">"Hello, World!"</span>
                                <span style="color:#fff;">)</span>
                            </div>
                            <div>
                                <span style="color:#fff;">}</span>
                            </div>
                        </div>
                        <button type="button" class="btn form-control" data-bs-toggle="modal" data-bs-target="#send-cv"
                            onclick="programmingLanguage(1)">ارسال رزومه</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="partnership network">
            <div class="main">
                <div class="title-section">
                    <img src="/image/right-arrow.png" alt="">
                    <span class="title">پشتیبان شبکه</span>
                </div>
                <p class="d-none d-md-block"> اگر خودتون رو پشتیبان شبکه میدونید و دوست دارید عضوی از خوانواده ابر
                    گرافیک
                    باشید, لطفا بعد از پر کردن این عبارات رزومه خودتون رو برای ما بفرستید</p>
                <p class="d-md-none"> اگر خودتون رو پشتیبان شبکه میدونید و دوست دارید عضوی از خوانواده ابر‌گرافیک
                    باشید,
                    رزومه خودتون رو برای ما بفرستید</p>
                <div class="android">
                    <form action="#" class="d-flex">
                        <div class="code d-none d-md-block">
                            <div>
                                <span style="color:rgba(3, 195, 39, 0.58);">//Ping the router</span>
                            </div>
                            <div>
                                <span class="growing-input input2">
                                    <input type="text" class="code-input" value="" placeholder="------" size="95"
                                        maxlength="95" />
                                    <span class="dummy dummy2"></span>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn form-control" data-bs-toggle="modal" data-bs-target="#send-cv"
                            onclick="programmingLanguage(2)">ارسال رزومه</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="partnership network gray">
            <div class="main">
                <div class="title-section">
                    <img src="/image/right-arrow.png" alt="">
                    <span class="title">همکاری در حوزه‌های دیگر !</span>
                </div>
                <p>خانواده ابر‌گرافیک همواره در حال رشد و تکامله . ما همیشه از همکاری با شما و رشد این خانواده خوشحال
                    میشیم =)</p>
                <div class="">
                    <form onsubmit="postApi(event)" class="gray">
                        <div class="d-flex justify-content-between info">
                            <div>
                                <label for="name" class="form-label">نام و نام خانوادگی / نام شرکت یا
                                    استارتاپ</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div>
                                <label for="email" class="form-label">ایمیل یا شماره تماس</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div>
                                <label for="field" class="form-label">عنوان زمینه همکاری</label>
                                <input type="text" class="form-control" id="field" name="field">
                            </div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="comment" class="form-label">متن پیام</label>
                            <textarea class="form-control" rows="7" id="text" name="text"
                                oninput="auto_grow_label(this)"></textarea>
                        </div>
                        <div class="d-flex">
                            <div class="browse">
                                <span id="browse-label">پیوست فایل درصورت نیاز</span>
                                <span class="btn-file" onclick="toFileInput()">
                                    انتخاب فایل<input type="file" accept="image/*, .pdf, .word" id="inputFileMain"
                                        onchange="document.getElementById('browse-label').innerHTML = this.files[0].name;">
                                </span>
                            </div>
                            <button type="submit" class="btn form-control">ارسال درخواست همکاری</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        {{>footer}}

    </div>
    <!-- Modal -->
    <div class="modal fade" id="send-cv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-header">
                    <header class="myheader">
                        <img src="/image/right-arrow.png" alt="">
                        <span class="title">لطفا اطلاعات خود را وارد نمایید</span>
                        <img src="/image/left-arrow.png" alt="">
                        <div class="subtitle">کارشناسان ما رزومه شما را برسی و در سریع‌ترین زمان ممکن
                            با شما تماس خواهند گرفت</div>
                    </header>
                </div>
                <div class="modal-body">
                    <form onsubmit="postDialogApi(event)" class="gray" id="formModal">
                        <div>
                            <label for="fullname" class="form-label">نام و نام خانوادگی / نام شرکت یا استارتاپ</label>
                            <input type="text" class="form-control" required id="fullName" name="fullname">
                        </div>
                        <div>
                            <label for="email" class="form-label">ایمیل یا شماره تماس</label>
                            <input type="text" class="form-control" required id="dialogEmail" name="email">
                        </div>
                        <div class="browse">
                            <span id="m-browse-label">پیوست فایل درصورت نیاز</span>
                            <span class="btn-file" onclick="toFileInputDialog()">
                                انتخاب فایل<input type="file" accept="image/*, .pdf, .word" id="fileInputDialog"
                                    onchange="document.getElementById('m-browse-label').innerHTML = this.files[0].name;">
                            </span>
                        </div>
                        <button type="submit" class="btn form-control" id="submitBtnModal">ارسال درخواست همکاری</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>
    {{>toastRepository}}
    <script>
        function auto_grow_label(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight + 5) + "px";
        }
        const dummy = document.querySelector(".dummy1");
        const input = document.querySelector(".input1 input");

        const update = () => dummy.innerText = input.value;
        input.oninput = update;
        update();
        const dummy2 = document.querySelector(".dummy2");
        const input2 = document.querySelector(".input2 input");

        const update2 = () => dummy2.innerText = input2.value;
        input2.oninput = update2;
        update2();
        const dummy3 = document.querySelector(".dummy3");
        const input3 = document.querySelector(".input3 input");

        const update3 = () => dummy3.innerText = input3.value;
        input3.oninput = update3;
        update3();
        const dummy4 = document.querySelector(".dummy4");
        const input4 = document.querySelector(".input4 input");

        const update4 = () => dummy4.innerText = input4.value;
        input4.oninput = update4;
        update4();
    </script>
</body>

<style>
    .browse {
        width: 450px;
        max-width: 98% !important;
    }
</style>

</html>