<div class="position-fixed bottom-0 start-0 p-3" style="z-index: 11" data-autohide="false">
    <div id="invalid-code" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>کد اشتباه</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            کد وارد شده صحیح نمی باشد.
        </div>
    </div>
    <div id="invalid-number" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>شماره ی اشتباه</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            شماره وارد شده صحیح نیست.
        </div>
    </div>
    <div id="wrongPassword" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>نام کاربری یا رمز عبور شما صحیح نمی باشد
            </small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            نام کاربری یا رمز عبور شما صحیح نمی باشد.
        </div>
    </div>
    <div id="emptyName" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>لطفا نام خود را وارد کنید</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            لطفا نام خود را وارد کنید.
        </div>
    </div>
    <div id="emptyEmail" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>لطفا ایمیل خود را به درستی وارد کنید</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            لطفا ایمیل خود را به درستی وارد کنید.
        </div>
    </div>
    <div id="emptyPassword" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>لطفا پسورد خود را به درستی وارد کنید</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p>لطفا پسورد خود را به درستی وارد کنید</p>
            <p>پسورد شما باید دارای حداقل یک حرف بزرگ و عدد باشد.</p>
        </div>
    </div>
    <div id="notMatchPassword" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>رمز عبور با تکرار رمز عبور مطابقت ندارد</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            رمز عبور با تکرار رمز عبور مطابقت ندارد!
        </div>
    </div>
    <div id="repetitiousEmail" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small>ایمیل تکراری</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            شما قبلا با این ایمیل ثبت نام کرده اید!
        </div>
    </div>
    <div id="added" class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false">
        <div class="toast-header toast-success-header">
            <strong class="me-auto">موفق</strong>
            <small>با موفقیت اضافه شد</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            با موفقیت اضافه شد.
        </div>
    </div>
    <div id="createTicket" class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false" style="z-index: 11000000">
        <div class="toast-header toast-success-header">
            <strong class="me-auto">موفق</strong>
            <small>تیکت شما با موفقیت ارسال شد</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            تیکت شما با موفقیت ارسال شد.
        </div>
    </div>
    <div id="apiErr" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false"
        style="z-index: 11000000">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small id="titleApiErr">تیکت شما با موفقیت ارسال شد</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="bodyApiErr">
            تیکت شما با موفقیت ارسال شد.
        </div>
    </div>
    <div id="forgetPassword" class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false" style="z-index: 11000000">
        <div class="toast-header toast-success-header">
            <strong class="me-auto">موفقیت</strong>
            <small id="titleApiErr">رمز یکبار مصرف</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="bodyApiErr">
            رمز یکبار مصرف شما با موفقیت به ایمیل شما ارسال شد.
        </div>
    </div>
    <div id="leastValued" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false" style="z-index: 11000000">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small id="titleApiErr">کمتر از حد مجاز</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="bodyApiErr">
            حداقل میزان استفاده 1 ساعت می باشد.
        </div>
    </div>
    <div id="mostValued" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false" style="z-index: 11000000">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small id="titleApiErr">بیشتر از حد مجاز</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="bodyApiErr">
            حداکثر میزان استفاده 999 ساعت می باشد.
        </div>
    </div>
    <div id="noFramework" class="toast toast-err" role="alert" aria-live="assertive" aria-atomic="true"
        data-autohide="false" style="z-index: 11000000">
        <div class="toast-header toast-err-header">
            <strong class="me-auto">خطا</strong>
            <small id="titleApiErr">وجود ندارد</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="bodyApiErr">
            چنین فریم وورکی وجود ندارد.
        </div>
    </div>
</div>