<!DOCTYPE html>
<html lang="en">

{{>dashboard/head}}

<head>
    <title>سرویس‌های من</title>
    <script type="module" src="/js/dashboard/myServices.js"></script>

    <script>
        /* window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                backgroundColor: "#000",
                title: {
                    text: ""
                },
                width: 320,
                height: 80,

                axisX: {
                    lineColor: "#000",
                    tickColor: "#000",
                },
                axisY: {
                    title: "",
                    lineColor: "#000",
                    tickColor: "#000",
                    gridColor: "#000",
                    valueFormatString: "#0,,.",
                    suffix: "%",
                    prefix: ""
                },
                data: [{
                    type: "splineArea",
                    lineColor: "#03c327",
                    color: "rgba(3,195,39,.3)",
                    markerSize: 5,
                    xValueFormatString: "YYYY",
                    yValueFormatString: "#0%",
                    dataPoints: [
                        { x: new Date(2000, 0), y: 3289000 },
                        { x: new Date(2001, 0), y: 3830000 },
                        { x: new Date(2002, 0), y: 2009000 },
                        { x: new Date(2003, 0), y: 2840000 },
                        { x: new Date(2004, 0), y: 2396000 },
                        { x: new Date(2005, 0), y: 1613000 },
                        { x: new Date(2006, 0), y: 2821000 },
                        { x: new Date(2007, 0), y: 2000000 },
                        { x: new Date(2008, 0), y: 1397000 },
                        { x: new Date(2009, 0), y: 2506000 },
                        { x: new Date(2010, 0), y: 2798000 },
                        { x: new Date(2011, 0), y: 3386000 },
                        { x: new Date(2012, 0), y: 6704000 },
                        { x: new Date(2013, 0), y: 6026000 },
                        { x: new Date(2014, 0), y: 2394000 },
                        { x: new Date(2015, 0), y: 1872000 },
                        { x: new Date(2016, 0), y: 2140000 }
                    ]
                }]
            });
            chart.render();
        } */
    </script>
</head>

<body>
    <!--===================== header =====================-->
    {{>dashboard/sidebar}}

    <div class="page-title d-md-none"><span>سرویس‌های من</span></div>

    <div id="price" class="dashboard">
        <section class="main" id="services">
        </section>
    </div>
    {{>toastRepository}}
</body>

</html>